@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;600&display=swap');

:root{
    --gray:#333230;
}

*{
    font-family: 'Noto' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

::selection{
    background: var(--gray);
    color: #fff;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--gray);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--gray);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: rgb(255, 165, 0,.2);
    color: var(--gray);
}

.main{
    top: 0; left: 0; right: 0;
    background: #020202;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: right;
}

nav{
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    background: rgba(5, 5, 5, 0.829);
    padding: 5px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 50px;
}

nav ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(179, 127, 238);
    font-size: 17px;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-weight: 550;
}

.content h1:hover{
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color: transparent;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.img-3d{
    margin-top: 0%;
    text-align: center;
    margin-top: 70px;
}

.img-3d h1{
    font-size: 70px;
    color: #444;
}

.img-3d h3{
    margin-top: 50px;
    font-size: 30px;
    color: #333;
}

.img1{
    margin-top: 50px;
    width: 100%;
}

.img2{
    width: 100%;
}

.img3{
    width: 100%;
}

.img4{
    width: 100%;
    margin-top: 50px;
}

.img5{
    margin-top: 50px;
    width: 100%;
}

.img6{
    margin-top: 50px;
    width: 100%;
}

html{
    font-size: 62.5%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.login-form{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgb(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .active{
    top: 0;
}

.login-form form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}

.login-form form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgb(0,0,0,.3);
    text-transform: none;
}

.login-form form .box:focus{
    border-color: var(--gray);
}

.login-form form #remember{
    margin: 2rem 0;
}

.login-form form label{
    font-size: 1.5rem;
}

.login-form form .btn{
    display: block;
    width: 100%;
}

.login-form form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-form form p a{
    color: var(--gray);
}

.login-form form p a:hover{
    color: #333;
    text-decoration: underline;
}

.login-form #form-close{
    position: absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

.exibition h1{
    font-size: 70px;
    text-align: center;
    margin-top: 30px;
}

.exibition ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-left:11%; 
    justify-content: center;
    font-size: 2rem;
    margin-top: 30px;
    font-weight: 200;
}

.general{
    padding: 40px;
    width: 100%;
}

.general h3{
    float: right;
    text-align: center;
    padding-right: 14%;
    font-size: 2.5rem;
    margin-top: 10%;
}

.general .e1{
    width: 50%;
    float:left; 
}

.engineering{
    width: 100%;
    padding: 40px;
}

.engineering h3{
    font-size: 2.5rem;
    float: right;
    text-align: center;
    margin-top: 35%;
    padding-right: 11%;
}

.engineering .e2{
    margin-top: 1%;
    width: 50%;
    float: left;
}

.dental{
   width: 100%;
   padding: 40px;
}

.dental h3{
    font-size: 2.5rem;
    float: right;
    text-align: center;
    margin-top: 35%;
    padding-right: 11%;
}

.dental .e3{
    margin-top: 1%;
    width: 50%;
    float: left;
}

.jewelry{
    width: 100%;
    padding: 40px;
}

.jewelry h3{
    font-size: 2.5rem;
    float: right;
    text-align: center;
    margin-top: 35%;
    padding-right: 11%;
}

.jewelry .e4{
    margin-top: 1%;
    width: 50%;
    float: left;
}


@media (max-width: 1200px) {
    html{
        font-size: 55%
    }
}

@media (max-width: 991px) {
    .main{
        padding: 2rem;
    }
}