@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;600&display=swap');

:root{
    --gray:#333230;
}

*{
    font-family: 'Noto' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

::selection{
    background: var(--gray);
    color: #fff;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--gray);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--gray);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: rgb(255, 165, 0,.2);
    color: var(--gray);
}

.login-form{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgb(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0);
    width: 50rem;
}

.login-form form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgb(0,0,0,.3);
    text-transform: none;
}

.login-form form .box:focus{
    border-color: var(--gray);
}

.login-form form #remember{
    margin: 2rem 0;
}

.login-form form label{
    font-size: 1.5rem;
    color: #333;
}

.login-form form .btn{
    display: block;
    width: 100%;
}

.login-form form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-form form p a{
    color: var(--gray);
}

.login-form form p a:hover{
    color: #333;
    text-decoration: underline;
}

.login-form #form-close{
    position: absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 1200px) {
    html{
        font-size: 55%
    }
}

@media (max-width: 991px) {
    .login-form{
        padding: 2rem;
    }
}