@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;600&display=swap');

:root{
    --gray:#333230;
}

*{
    font-family: 'Noto' , sans-serif;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    font-size: small;
}

::selection{
    background: var(--gray);
    color: #fff;
}

.container{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgb(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0);
    width: 50rem;
    justify-content: center;
}

.container h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    padding: 1rem 0;
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: -10px;
}

.user-input-box label{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 0px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

.form-submit-btn input{
    display: inline-block;
    margin-top: 1rem;
    background: var(--gray);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--gray);
    cursor: pointer;
    font-size: 1.7rem;
    width: 100%;
}

.form-submit-btn input:hover{
    background: rgb(255, 165, 0,.2);
    color: var(--gray);
}

@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}